.cont{
   
    display: flex;
}
.summary{
    
    height: auto;
    width: auto;
    margin: 0 50px 0 50px ;
    margin-top: 15px;
}
.intro{
    text-align: center;
    padding-bottom: 15px;
}

.out{
    
    margin-left: 10px;
}
.text p{
    border-bottom: 2px solid black;
}
.edu {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.skills{
    margin-top: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.skills ul{
    text-decoration: none;
    list-style: none;
}
.summ h3{
    margin-bottom: 15px;
    text-align: justify;

}
.expe h3{
    margin-bottom: 15px;
}